<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    {% load pipeline %}
    {% stylesheet 'components' %}
    {% stylesheet 'stats' %}


</head>
<body class="body">
{% block content %}

{% endblock %}
{% javascript 'components' %}
{% javascript 'stats' %}
{% include 'session_security/all.html' %}

</body>
</html>