
.mdl-layout__content-login {
    padding-top: 10%;
    width: 500px;

}

.mdl-card {
    width: 100%;
}

.mdl-button.mdl-button--colored {
    transition-property: box-shadow, color, color;
}

.body {
    background: #002c45 !important;
}

.full-width-table {
    width: 100%;

    table-layout: fixed;
    display: block;
    overflow: scroll;
}

.scrollable {
    overflow: auto !important;
}

html, body {

}

.subscriber-form.mdl-textfield__input {
    border: none;
    border-bottom: 2px solid #3E4EB8 !important;
    border-left: 2px solid #3E4EB8 !important;
    /*border-right: 2px solid #3E4EB8 !important;*/
    height: 40px;

}

.link-color {

    color: #a3cf5f !important;
}

.active {

}

.sub-menu-link {
    color: red !important;
}

.active-link {
    border-left: 4px solid #3E4EB8 !important;
    background: #222d32 !important;;

}

.table-striped tbody tr:nth-child(odd) {
    background: #b9f6ca;
}

.table-striped tbody tr:nth-child(even) {
    background: #f9fbe7;
}

.table-striped thead tr:nth-child(odd) {
    background: #ffb74d;
}

.quote p{

    font-size: 21px ;
    font-style: italic;
}
.useful-details p{
    font-size: 16px;

}
.mdl-components-index-text {
	max-width:960px;
	margin:0
}
.mdl-components-index-text .mdl-components-dl {
	-webkit-justify-content:flex-start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	margin-left:40px
}
.mdl-components-text {
	margin:0;
	padding:0
}
.mdl-components-dl {
	padding:.5em;
	width:100%
}
.mdl-components-dt {
	float:left;
	clear:left;
	width:150px;
	font-weight:700
}
.mdl-components-dd {
	margin:0 0 0 150px;
	padding:0 0 .5em
}
a{
    color: #006666;
}
.blog-header{
    width: 100%;
    background: #ebebeb;
}
.blog-title{
    color:  #79B829;
    padding-left: 15%;
}
.blog-info{
    border-right: 2px dashed blanchedalmond;
}

.blog-categories{
     background: #ebebeb;
    color:  #79B829;
}