@page {

    size: A4 landscape;
    margin: 1.5cm 1.5cm 1.5cm 1.5cm;
}

.table-striped tbody tr:nth-child(odd) {
    background: #b9f6ca;
}

.table-striped tbody tr:nth-child(even) {
    background: #f9fbe7;
}

.table-striped thead tr:nth-child(odd) {
    background: #ffb74d;
}
