@page {

    size: A4 portrait;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
}

.table-striped tbody tr:nth-child(odd) {
    background: #b9f6ca;
}

.table-striped tbody tr:nth-child(even) {
    background: #f9fbe7;
}

.table-striped thead tr:nth-child(odd) {
    background: #ffb74d;
}

tr.noBorder td {
  border: 0;
}