{% extends "layouts/base.html" %}

{% block content %}

    <div class="row">
        <div class="container">

            <div class="medium-6 medium-centered large-4 large-centered columns ">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mdl-layout mdl-js-layout ">
                    <main class="mdl-layout__content mdl-layout__content-login ">
                        <div class="mdl-card mdl-shadow--6dp">
                            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                                <h2 class="mdl-card__title-text">Reset Password</h2>
                            </div>
                            <form action="." method="post">
                                {% csrf_token %}
                                <div class="mdl-card__supporting-text">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="mdl-color-text--red">
                                                    <strong class="mdl-color-text--red-grey-300">{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="mdl-color-text--red">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email"
                                               name="username_or_email" id="username" required/>
                                        <label class="mdl-textfield__label" for="username">Email</label>
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <button type="submit"
                                            class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
                                        Reset my password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </main>
                </div>
            </div>

        </div>
    </div>


{% endblock %}