{% extends "layouts/base.html" %}

{% block content %}

    <div class="row">
        <div class="container">

            <div class="medium-6 medium-centered large-4 large-centered columns ">

                <div class="mdl-layout mdl-js-layout mdl-layout__content-login ">
                    <main class="mdl-layout__content">
                        <div class="mdl-card mdl-shadow--6dp ">


                            <div class="mdl-card mdl-color--blue-800">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text mdl-color-text--white">Recovery Email</h2>
                                </div>
                                <div class="mdl-card__media mdl-color--cyan reset-email">
{#                                    <img width="220" height="0" border="0" alt=""#}
{#                                         style="padding:20px;">#}
                                    <h4 class="mdl-color-text--white "> &nbsp;&nbsp;&nbsp;Lastmile Networks</h4>
                                </div>
                                <div class="mdl-card__supporting-text mdl-color-text--white">
                                    An email has been sent to {{ email }}. Use the link provided in it to reset the password
                                </div>
                                <div class="mdl-card__actions ">
                                    <a href="{% url "index" %}">
                                        <button
                                                class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
                                            Home
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>


        </div>
    </div>

    </div>



{% endblock %}