{% extends 'layouts/dashboard.html' %}
{% block content %}

    <main class="mdl-layout__content mdl-color--grey-100" ng-controller="ReportsController">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid ">

                <div class=" row small-12 medium-12 large-12 columns">
                    <h5>Generate reports on subscribers</h5>
                    <form action="/dashboard/reports/subscribers/pdf" method="post" target="_blank">
                        {% csrf_token %}
                        <div class="row">
                            <div class=" small-6 medium-3 large-3 columns">
                                <label for="">Location:</label>
                                <select name="location" ng-model="location">
                                    <option value="">All Locations</option>
                                    {% for location in locations %}
                                        <option value="{{ location.location }}">{{ location.location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class=" small-6 medium-3 large-3 columns">
                                <label for="">Subscribers:</label>
                                <select name="package" ng-model="package.internet_package.name">
                                    <option value="">All Packages</option>
                                    {% for package in packages %}
                                        <option value="{{ package.name }}">{{ package.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class=" small-6 medium-3 large-3 columns">
                                <label for="">Package Types:</label>
                                <select name="package_type"
                                        ng-model="package_type.internet_package.internet_package_type">
                                    <option value="">All Package types</option>
                                    {% for package_type in packages_types %}
                                        <option value="{{ package_type.name }}">{{ package_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class=" small-6 medium-4 large-3 columns">
                                <label for="" style="color: #fff;">Download</label>
                                <button type="submit" class=""><i class="fa fa-download fa-2x" aria-hidden="true"></i> Download pdf
                                </button>

                            </div>

                        </div>

                    </form>
                </div>


                <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid ">
                    <table class="mdl-data-table mdl-js-data-table table-striped mdl-shadow--2dp ">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th class="mdl-data-table__cell--non-numeric">First Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Mobile Number</th>
                            <th class="mdl-data-table__cell--non-numeric">Unique Key</th>
                            <th class="mdl-data-table__cell--non-numeric">Email</th>
                            <th class="mdl-data-table__cell--non-numeric">Location</th>
                            <th class="mdl-data-table__cell--non-numeric">Package Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Package</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="subscriber in subscribers | filter : { location: location || undefined } |filter:package | filter:package_type ">
                            <td> &nbsp;
                                <%$index +1%>

                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><% subscriber.first_name %></td>
                            <td class="mdl-data-table__cell--non-numeric"><% subscriber.last_name %></td>
                            <td class="mdl-data-table__cell--non-numeric"><% subscriber.mobile_number %></td>
                            <td class="mdl-data-table__cell--non-numeric"><% subscriber.subscriber_unique_key %>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><%subscriber.email %></td>
                            <td class="mdl-data-table__cell--non-numeric"><% subscriber.location %></td>
                            <td class="mdl-data-table__cell--non-numeric"><%
                                subscriber.internet_package.internet_package_type %>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><% subscriber.internet_package.name %>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </main>

{% endblock %}