{% extends 'layouts/dashboard.html' %}
{% block content %}

    <main class="mdl-layout__content mdl-color--grey-100" xmlns="http://www.w3.org/1999/html">
        <div class="mdl-grid demo-content">

            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid"
                 ng-controller="InvoiceCtrl">
                <table>

                    <tr ng-if="titles[0]">
                        <td>Quotation section Title</td>

                    </tr>

                    <tr data-ng-repeat="title in titles">
                        <td>
                            <input type="text" ng-model="title.title" name="title" placeholder="CCTV Cameras">
                        </td>
                        <td>
                            <button class="remove mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                                    ng-show="$last" ng-click="removeTitle()">-
                            </button>
                        </td>
                    </tr>


                </table>
                <button id="addTitle"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                        ng-click="addNewTitle()">
                    <i class="material-icons">add</i>
                </button>
                <div class="mdl-tooltip " for="addTitle">
                    Click to add a description title for the <br>Quotation
                </div>
                {{ quote.quote_no }}
                <div ng-init="quote_no='{{ quote.quote_no }}'"></div>

                <table>
                    <tbody ng-form="userForm">
                    <tr ng-if="choices[0]">
                        <td>Quotation Title</td>
                        <td>Item Description</td>
                        <td>Unit Price</td>
                        <td>Quantity</td>
                        <td>Total Price</td>
                    </tr>

                    <tr data-ng-repeat="choice in choices">
                        <td>
                            <select name="title" ng-model="choice.title" required>
                                <option value="">Select quotation title</option>
                                <option data-ng-repeat="title in titles" value="<%title.title%>">
                                    <%title.title%>
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="choice.description" name="" placeholder="5Mp Camera"
                                   required>
                            <input type="hidden" ng-init="choice.customer={{ quote.id }}" required>
                        </td>
                        <td>
                            <input type="text" ng-model="choice.unit_price" name="unit_price" ng-pattern="/[0-9]+$/"
                                   placeholder="200" required>
                            <li style="color:#ff5252" ng-show="userForm.unit_price.$error.pattern">Must be a number</li>
                        </td>
                        <td>
                            <input type="text" ng-model="choice.quantity" name="quantity" placeholder="3"
                                   ng-pattern="/[0-9]+$/" required>
                            <li style="color:#ff5252" ng-show="userForm.quantity.$error.pattern">Must be a number</li>
                        </td>

                        <td>
                            <input type="text" ng-disabled="true" ng-model="choice.total_price" name=""
                                   placeholder="<%choice.unit_price* choice.quantity %>">
                        </td>
                        <td>

                            <button class="remove mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                                    ng-show="$last" ng-click="removeChoice()">-
                            </button>


                        </td>
                    </tr>
                    <tr>

                        <td>
                            <button ng-if="choices[0]"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                    type="submit"
                                    ng-disabled="userForm.$invalid"
                                    ng-click="SubmitQuote()"
                            >Submit
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="mdl-grid">
                    <button id="addDescription"
                            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                            ng-click="addNewChoice()">
                        <i class="material-icons">add</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--top" for="addDescription">
                        Click to add a new column
                    </div>
                </div>
                <div class="mdl-layout">



                    <div class="mdl-cell--8-offset mdl-cell mdl-cell--4-col card card-1" style="background: #f08a24;
  border-radius: 2px;
  display: inline-block;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 300px;">
                        <p> Total Cumulative Price: <% getTotal() %></p>
                        <p> VAT: <% 16/100 *getTotal() %></p>
                        <p> Total Cumulative Amount: <% 16/100 *getTotal() +getTotal() %></p>
                    </div>
                </div>


            </div>


        </div>
        </div>
    </main>
{% endblock %}