{% extends 'layouts/dashboard.html' %}
{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100" ng-controller="DashboardHomeController">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">

                <form action="" method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object.description }} Item"?</p>

                    <button class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised" type="submit" value="Confirm">Delete</button>
                    <button class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised"  >
                        <a href="{%  url 'quote-details' object.customer.quote_no%}"></a>Cancel</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

