{% extends 'layouts/dashboard.html' %}
{% load subtract %}
{% block content %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid ">
                <ul class="demo-list-icon mdl-list">
                    <li class="mdl-list__item">
                             <span class="mdl-list__item-primary-content"> Title:
                                         &nbsp;&nbsp;&nbsp;&nbsp;{{ object.title }}
                             </span>
                    </li>
                    <li class="mdl-list__item">
                             <span class="mdl-list__item-primary-content">Customer:
                                         &nbsp;&nbsp;&nbsp;&nbsp;{{ object.Customer }}
                             </span>
                    </li>
                    <li class="mdl-list__item">
                             <span class="mdl-list__item-primary-content">Created By:&nbsp;&nbsp;
                                         &nbsp;&nbsp;&nbsp;&nbsp;{{ object.created_by.first_name }}
                             </span>
                    </li>
                    <li class="mdl-list__item">
                             <span class="mdl-list__item-primary-content">Created On:&nbsp;&nbsp;
                                         &nbsp;&nbsp;&nbsp;&nbsp;{{ object.created_at|date }}
                             </span>
                    </li>

                </ul>

            </div>

            <table class="mdl-data-table mdl-js-data-table table-striped mdl-shadow--2dp ">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">No</th>
                    <th class="mdl-data-table__cell--non-numeric">Description</th>
                    <th class="mdl-data-table__cell--non-numeric">Unit Price</th>
                    <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                    <th class="mdl-data-table__cell--non-numeric">Total</th>
                    <th class="mdl-data-table__cell--non-numeric">Action</th>

                </tr>
                </thead>
                <tbody>
                {% regroup object.quote_customer.all by title as quote_by_title %}
                {% for quote in quote_by_title %}
{#                    <tr style="background-color:cornflowerblue; column-width: 10px;">#}
{#                        <td></td>#}
{#                        <td></td>#}
{#                        <td>#}
{#                            {{ quote.grouper }}#}
{#                        </td>#}
{#                        <td></td>#}
{#                        <td></td>#}
{#                    </tr>#}


                    {% for quote_item in quote.list %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ forloop.counter }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ quote_item.description }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ quote_item.unit_price|floatformat:2 }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ quote_item.quantity }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% multiply_two_nums quote_item.quantity quote_item.unit_price %}

                            </td>
                        <td class="mdl-data-table__cell--non-numeric"><a
                                    href="{% url 'quote-item-details' quote_item.id %}"><i class="fa fa-eye"
                                                                                         aria-hidden="true"></i>
                            </a>&nbsp;&nbsp;&nbsp;

                                <a
                                        href="{% url 'quote-item-edit' quote_item.id %}"><i class="fa fa-pencil"
                                                                                          aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a
                                        href="{% url 'quote-item-delete' quote_item.id %}"><i class="fa fa-trash-o"
                                                                                           aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
{#                    <tr style="background-color:white;">#}
{#                        <td></td>#}
{#                        <td></td>#}
{#                        <td></td>#}
{##}
{#                        <td style="background-color:indianred; column-width: 10px;">#}
{#                            Subtotal#}
{#                        </td>#}
{#                        <td style="background-color:indianred; column-width: 10px;">#}
{#                            {% add_sub_total quote.list %}#}
{#                        </td>#}
{#                    </tr>#}

                {% endfor %}
{#                <tr style="background-color:white;">#}
{#                    <td></td>#}
{#                    <td></td>#}
{#                    <td></td>#}
{#                    <td></td>#}
{##}
{#                    <td style="background-color:lightsalmon; column-width: 10px;">#}
{#                        Total:#}
{#                    </td>#}
{#                    <td style="background-color:lightsalmon; column-width: 10px;">#}
{#                        {% add_sub_total object.quote_customer.all %}#}
{#                    </td>#}
{#                </tr>#}
{#                <tr style="background-color:white;">#}
{#                    <td></td>#}
{#                    <td></td>#}
{#                    <td></td>#}
{##}
{#                    <td style="background-color:lightsalmon; column-width: 10px;">#}
{#                        VAT:#}
{#                    </td>#}
{#                    <td style="background-color:lightsalmon; column-width: 10px;">#}
{#                        {% vat object.quote_customer.all %}#}
{#                    </td>#}
{#                </tr>#}
                <tr style="background-color:white;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td style="background-color:lightsalmon; column-width: 10px;">
                        Total + VAT:
                    </td>
                    <td style="background-color:lightsalmon; column-width: 10px;">
                        {% vat_plus_total object.quote_customer.all %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </main>

{% endblock %}