{% extends 'layouts/dashboard.html' %}
{% load subtract %}
{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100" ng-controller="DashboardHomeController">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">

                <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid">
                    <div class="email-description" style="
        padding-top: 10px;
        padding-bottom: 10px;
            line-height: 1.5em;
            font-weight: 300;
             text-align: center;
             font-size: 24px;
            width: 100%;
            color: #1e3e66;
            background: #f6f8fa">
                        <p style="font-size: 24px;">Quote Preview <br>
                        </p>
                    </div>
                </div>
                <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid ">
                    <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                        {#                        <img src="/static/images/logo.png" alt="">#}

                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                        <div class="mdl-cell mdl-cell--4-col mdl-grid ">


                        </div>

                        <div class="mdl-cell mdl-cell--8-col mdl-grid ">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        Date:
                                    </td>


                                    <td style="text-align: left;  padding-left: 0">

                                        {{ object.created_at|date }}
                                    </td>


                                </tr>

                                <tr>
                                    <td>
                                        Valid Till:
                                    </td>


                                    <td style="text-align: left; padding-left: 0">
                                        {{ object.created_at| add_month |date }}
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Quote No. :
                                    </td>

                                    <td style="text-align: left; padding-left: 0">
                                        {{ object.quote_no }}
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Customer ID:
                                    </td>

                                    <td style="text-align: left;  padding-left: 0">
                                        {{ object.customer_id }}
                                    </td>

                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid ">
                        <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                            <table class="table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        Customer

                                    </th>

                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ object.Customer }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                            <table class="table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        Quote/Project Description

                                    </th>

                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ object.title }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid ">
                    <table class="mdl-data-table mdl-js-data-table table-striped mdl-shadow--2dp ">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">No</th>
                            <th class="mdl-data-table__cell--non-numeric">Description</th>
                            <th class="mdl-data-table__cell--non-numeric">Unit Price (Kshs)</th>
                            <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                            <th class="mdl-data-table__cell--non-numeric">Total (Kshs)</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% regroup object.quote_customer.all by title as quote_by_title %}
                        {% for quote in quote_by_title %}
                            <tr style="background-color:cornflowerblue; column-width: 10px;">
                                <td></td>
                                <td></td>
                                <td>
                                    {{ quote.grouper }}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>


                            {% for quote_item in quote.list %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ forloop.counter }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ quote_item.description }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ quote_item.unit_price|floatformat:2 }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ quote_item.quantity }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {% multiply_two_nums quote_item.quantity quote_item.unit_price %}

                                    </td>
                                </tr>
                            {% endfor %}
                            <tr style="background-color:white;">
                                <td></td>
                                <td></td>
                                <td></td>

                                <td style="background-color:indianred; column-width: 10px;">
                                    Subtotal
                                </td>
                                <td style="background-color:indianred; column-width: 10px;">
                                    {% add_sub_total quote.list %}
                                </td>
                            </tr>

                        {% endfor %}
                        <tr style="background-color:white;">
                            <td></td>
                            <td></td>
                            <td></td>

                            <td style="background-color:lightsalmon; column-width: 10px;">
                                Total:
                            </td>
                            <td style="background-color:lightsalmon; column-width: 10px;">
                                {% add_sub_total object.quote_customer.all %}
                            </td>
                        </tr>
                        <tr style="background-color:white;">
                            <td></td>
                            <td></td>
                            <td></td>

                            <td style="background-color:lightsalmon; column-width: 10px;">
                                VAT:
                            </td>
                            <td style="background-color:lightsalmon; column-width: 10px;">
                                {% vat object.quote_customer.all %}
                            </td>
                        </tr>
                        <tr style="background-color:white;">
                            <td></td>
                            <td></td>
                            <td></td>

                            <td style="background-color:lightsalmon; column-width: 10px;">
                                Total + VAT:
                            </td>
                            <td style="background-color:lightsalmon; column-width: 10px;">
                                {% vat_plus_total object.quote_customer.all %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <a type="button"  class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised" target="_blank" href="{% url 'invoice-pdf' object.quote_no %}">Generate Quotation PDF</a>

&nbsp;&nbsp;&nbsp;<a type="button"  class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised" target="_blank" href="{% url 'proforma-pdf' object.quote_no %}">Generate Proforma Invoice PDF</a>
                </div>


            </div>
        </div>
    </main>
{% endblock %}