{% extends 'layouts/dashboard.html' %}
{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100" ng-controller="DashboardHomeController">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">

                <form action="" method="post" name="payments">{% csrf_token %}
                    <p><h4>Create or Edit a Quotation</h4></p>
                    {{ form.as_p }}
                    <button type="submit" ng-disabled="payments.$invalid"
                            class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}