{% extends 'layouts/dashboard.html' %}
{% block content %}


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content  ">
            <div class="mdl-grid scrollable" style="overflow: visible">
                <table class="mdl-data-table mdl-js-data-table table-striped ">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th class="mdl-data-table__cell--non-numeric">Customer</th>
                        <th class="mdl-data-table__cell--non-numeric">Title</th>
                        <th class="mdl-data-table__cell--non-numeric">Created on</th>
                        <th class="mdl-data-table__cell--non-numeric">created by</th>
                        <th class="mdl-data-table__cell--non-numeric">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for quote in object_list %}
                        <tr>
                            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ quote.Customer }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ quote.title }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ quote.created_at|date }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ quote.created_by }}</td>

                            <td class="mdl-data-table__cell--non-numeric"><a
                                    href="{% url 'invoice-preview' quote.quote_no %}"><i class="fa fa-eye"
                                                                                         aria-hidden="true"></i>
                            </a>&nbsp;&nbsp;&nbsp;

                                <a
                                        href="{% url 'quote-update' quote.quote_no %}"><i class="fa fa-pencil"
                                                                                          aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a
                                        href="{% url 'quote-details' quote.quote_no %}"><i class="fa fa-info-circle"
                                                                                           aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
                                </a>
                                <a
                                        href="{% url 'quote-copy' quote.id %}"><i class="fa fa-clipboard"
                                                                                           aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <p>No tickets</p>
                    {% endfor %}

                    </tbody>
                </table>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ 1 }}">First </a></span>
                                <span> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>

        </div>
    </main>


{% endblock %}