<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load subtract %}
</head>
<body style="background-color: #f9fbe7;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<div class="email-logo" style="margin-top:0;background-color: transparent;padding: 20px 0">
    <div style="width: 80%;display: block;margin:0 auto;">
    </div>
</div>
<div class="email-body" style="
            padding: 0 0 20px;
            background-clip: content-box;
            background-color: #fff;
            width: 100%;
            margin: auto;
            margin-bottom: 20px;">
    <div class="email-logo"
         style="width:100%;margin-top:0;background:#1e3e66 ;padding: 20px 0">
        <div style="width: 80%;display: block;margin:0 auto;">
        </div>

    </div>
    <div style="padding: 0;margin: 0;display: flex;height: 5px;">
        <img style="
            width:100%;height:auto;" src="http://s7.postimg.org/w2yxngwpn/top_line.png">
    </div>
    <div class="email-description" style="
        padding-top: 10px;
        padding-bottom: 10px;
            line-height: 1.5em;
            font-weight: 300;
             text-align: center;
             font-size: 24px;
            width: 100%;
            color: #1e3e66;
            background: #f6f8fa">
        <p>Lastmile Networks <br>
            Income statement <br>
            For the month of {{ month }}</p>
    </div>
    <div class="email-description" style="padding: 10px;
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;
            width: 100%;
            color: #565656;">

        <table class="table-striped" style="width: 100%">
            <thead>
            <th></th>
            <th style="text-align: center">Kshs</th>
            <th style="text-align: center">Kshs</th>
            <th style="text-align: center">Kshs</th>

            </thead>
            <tr>
                <td>Revenues</td>
                <td>
                    <p>Subscriber payments <br>

                        Other payments <br>

                    </p>
                </td>
                <td style="text-align: right">
                    <p>

                        {{ subscriber_payments|floatformat:2 }} <br>

                        {{ other_payments|floatformat:2 }}
                    <hr style="margin-top:-10px;">
                    </p>

                </td>
                <td>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                    {% if subscriber_payments == None and other_payments == None %}
                        <b>0.00</b>
                    {% elif subscriber_payments != None and other_payments == None %}
                        <b>{{ subscriber_payments }}</b>
                    {% elif subscriber_payments == None and other_payments != None %}
                        <b>{{ other_payments }}</b>
                    {% else %}
                        <b>{{ other_payments|add:subscriber_payments|floatformat:2 }}</b>

                    {% endif %}

                    <hr>
                </td>


            </tr>
            <tr>
                <td>Expenses</td>

                <td>
                    <p>
                        {% for expense in expenses %}
                            {{ expense.description }}<br>

                        {% endfor %}

                    </p>
                </td>
                <td style="text-align: right">
                    <p>

                        {% for expense in expenses %}
                            {{ expense.amount|floatformat:2 }}<br>

                        {% endfor %}
                    <hr style="margin-top:-10px;">
                    </p>

                </td>
                <td>
                    {% for expense in expenses %}
                        <br>
                        <br>

                    {% endfor %}
                    <br>
                    <hr>
                    {% if total_costs == None %}
                        <b>0.00</b>

                    {% else %}
                        <b>{{ total_costs|floatformat:2 }}</b>

                    {% endif %}

                    <hr>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><p>
                    Net Income
                </p></td>
                <td>

                </td>
                <td>
                    <hr>
                    <hr>
                    {% if total_costs != None %}
                        {% if subscriber_payments == None and other_payments == None %}
                            <b>-{{ total_costs|floatformat:2 }} </b>
                        {% elif subscriber_payments != None and other_payments == None %}
                            <b>{{ subscriber_payments|sub:total_costs|floatformat:2 }}</b>
                        {% elif subscriber_payments == None and other_payments != None %}
                            <b>{{ other_payments|sub:total_costs|floatformat:2 }}</b>
                        {% else %}
                            <b>{{ other_payments|add:subscriber_payments|sub:total_costs|floatformat:2 }}</b>

                        {% endif %}
                    {% else %}
                        {% if subscriber_payments == None and other_payments == None %}
                            <b>0.00</b>
                        {% elif subscriber_payments != None and other_payments == None %}
                            <b>{{ subscriber_payments }}</b>
                        {% elif subscriber_payments == None and other_payments != None %}
                            <b>{{ other_payments }}</b>
                        {% else %}
                            <b>{{ other_payments|add:subscriber_payments|floatformat:2 }}</b>
                        {% endif %}
                    {% endif %}
                    <hr>
                    <hr>
                </td>

            </tr>
        </table>
    </div>
    <hr style="border:1px solid #a8afa8;">
    <div class="email-description" style="
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;
            width: 100%;
            color: #565656;">
        <p style="margin: 0;">Lastmile Networks</p>

        <p style="margin: 0;"> P.O Box 15631-00100 Nairobi</p>


        <p style="margin: 0;"><a href="https://lastmile-networks.net">www.lastmile-networks.net</a></p>
    </div>
</div>

</body>
</html>

