<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load subtract %}
</head>
<body style="background-color: #f9fbe7;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<div class="email-logo" style="margin-top:0;background-color: transparent;padding: 10px 0">
    <div style="width: 80%;display: block;margin:0 auto;">
    </div>
</div>
<div class="email-body" style="
            padding: 0 0 10px;
            background-clip: content-box;
            background-color: #fff;
            width: 100%;
            margin: auto;
            ">
    <div class="email-logo"
         style="width:100%;margin-top:0;background:#1e3e66 ;padding: 20px 0">
        <div style="width: 80%;display: block;margin:0 auto;">
        </div>

    </div>
    <div style="padding: 0;margin: 0;display: flex;height: 5px;">
        <img style="
            width:100%;height:auto;" src="http://s7.postimg.org/w2yxngwpn/top_line.png">
    </div>
    <div class="email-description" style="
        padding-top: 10px;
        padding-bottom: 5px;
            line-height: 1.0em;
            font-weight: 300;
             text-align: center;
             font-size: 24px;
            width: 100%;
            color: #1e3e66;
            background: #f6f8fa">
        <p>Lastmile Networks Quotation</p>
    </div>
    <div class="email-description" style="padding: 10px;
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;
            width: 100%;
            color: #565656;">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">

                <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid ">
                    <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                        <img src="/static/images/logo.png" alt="">

                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                        <div class="mdl-cell mdl-cell--4-col mdl-grid ">


                        </div>

                        <div class="mdl-cell mdl-cell--8-col mdl-grid ">
                            <table class="table-striped" style="margin-left: 70%">
                                <tbody>
                                <tr>
                                    <td>
                                        Date:
                                    </td>


                                    <td style="text-align: left;  padding-left: 0">

                                        {{ object.created_at|date }}
                                    </td>


                                </tr>

                                <tr>
                                    <td>
                                        Valid Till:
                                    </td>


                                    <td style="text-align: left; padding-left: 0">
                                        {{ object.created_at|add_month |date }}
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Quote No. :
                                    </td>

                                    <td style="text-align: left; padding-left: 0">
                                        {{ object.quote_no }}
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Customer ID:
                                    </td>

                                    <td style="text-align: left;  padding-left: 0">
                                        {{ object.customer_id }}
                                    </td>

                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid ">
                        <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                            <table class="table-striped" style="width: 40%">
                                <thead>
                                <tr>
                                    <th>
                                        Customer

                                    </th>

                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ object.Customer }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-grid left">
                            <table class="table-striped" style="width:50%;margin-top: -58px; margin-left: 50%">
                                <thead>
                                <tr>
                                    <th>
                                        Quote/Project Description

                                    </th>

                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ object.title }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="mdl-grid scrollable mdl-cell mdl-cell--12-col mdl-grid ">
                    <table class="mdl-data-table mdl-js-data-table table-striped mdl-shadow--2dp"
                           style="width: 100%;margin-top: 15px;">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">No</th>
                            <th class="mdl-data-table__cell--non-numeric">Description</th>
                            <th class="mdl-data-table__cell--non-numeric">Unit Price (Kshs)</th>
                            <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                            <th class="mdl-data-table__cell--non-numeric">Total (Kshs)</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% regroup object.quote_customer.all by title as quote_by_title %}
                        {% for quote in quote_by_title %}
                            <tr style="background-color:cornflowerblue; column-width: 10px; ">
                                <td colspan="5" style="text-align: center">
                                    {{ quote.grouper }}
                                </td>

                            </tr>


                            {% for quote_item in quote.list %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ forloop.counter }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ quote_item.description }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ quote_item.unit_price|floatformat:2 }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ quote_item.quantity }}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {% multiply_two_nums quote_item.quantity quote_item.unit_price %}

                                    </td>
                                </tr>
                            {% endfor %}
                            <tr style="background-color:white;">
                                <td></td>
                                <td>

                                </td>
                                <td></td>

                                <td style="background-color:indianred; column-width: 10px;">
                                    Subtotal
                                </td>
                                <td style="background-color:indianred; column-width: 10px;">
                                    {% add_sub_total quote.list %}
                                </td>
                            </tr>

                        {% endfor %}
                        <tr style="background-color:white;">
                            <td></td>
                            <td></td>
                            <td></td>

                            <td style="background-color:lightsalmon; column-width: 10px;">
                                Total:
                            </td>
                            <td style="background-color:lightsalmon; column-width: 10px;">
                                {% add_sub_total object.quote_customer.all %}
                            </td>
                        </tr>
                        <tr style="background-color:white;">

                            <td colspan="3"><b>Special Notes </b><br>
                                <ul>
                                    <li>
                                        Once Signed please fax, mail or email it to the provided address<br></li>
                                    <li>Quotation valid for 30 Days<br></li>
                                </ul>
                            </td>

                            <td style="background-color:lightsalmon; column-width: 10px;">
                                VAT:
                            </td>
                            <td style="background-color:lightsalmon; column-width: 10px;">
                                {% vat object.quote_customer.all %}
                            </td>
                        </tr>
                        <tr style="background-color:white;">
                            <td colspan="3">
                                <ul>


                                    <li>work will commence after approval of the quotation<br></li>
                                    <li>60% downpayment required for the installation to commence</li>
                                </ul>

                            </td>


                            <td style="background-color:lightsalmon; column-width: 10px;">
                                Grand Total:
                            </td>
                            <td style="background-color:lightsalmon; column-width: 10px; ">
                                <hr style="border:1px solid #000;">
                                <hr style="border:1px solid #000;">
                                {% vat_plus_total object.quote_customer.all %}
                                <hr style="border:1px solid #000;">
                                <hr style="border:1px solid #000;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <hr style="border:1px solid #a8afa8;">
    <p>Above information is not an invoice but only an estimate of services/goods described above.
{#        payment will be collected prior to provision of said goods and services#}
        Please confirm acceptance by signing .
    <hr style="border:1px dashed #a8afa8; width: 100%">

<h4 style="margin-top: -25px"> Name:</h4>
<h4 style="margin-top: -40px; margin-left: 50%"> Signature:</h4>
<h4 style="margin-top: -47px; margin-left: 80%"> Date:</h4>
    </p>
    <hr style="border:1px solid #a8afa8;">
    <div class="email-description" style="
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;

            width: 100%;
            color: #565656;">
        <p style="margin: 0;">Lastmile Networks</p>

        <p style="margin: 0;"> P.O Box 15631-00100 Nairobi</p>


        <p style="margin: 0;"><a href="https://lastmile-networks.net">www.lastmile-networks.net</a></p>
    </div>
</div>

</body>
</html>

