<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body style="background-color: #f9fbe7;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<div class="email-logo" style="margin-top:0;background-color: transparent;padding: 20px 0">
    <div style="width: 80%;display: block;margin:0 auto;">
    </div>
</div>
<div class="email-body" style="
            padding: 0 0 20px;
            background-clip: content-box;
            background-color: #fff;
            width: 100%;
            margin: auto;
            margin-bottom: 20px;">
    <div class="email-logo"
         style="width:100%;margin-top:0;background:#1e3e66 ;padding: 20px 0">
        <div style="width: 80%;display: block;margin:0 auto;">
        </div>

    </div>
    <div style="padding: 0;margin: 0;display: flex;height: 5px;">
        <img style="
            width:100%;height:auto;" src="http://s7.postimg.org/w2yxngwpn/top_line.png">
    </div>
    <div class="email-description" style="
        padding-top: 10px;
        padding-bottom: 10px;
            line-height: 1.5em;
            font-weight: 300;
             text-align: center;
             font-size: 24px;
            width: 100%;
            color: #1e3e66;
            background: #f6f8fa">
        <p>Lastmile Networks Subscriber Report</p>
    </div>
    <div class="email-description" style="padding: 10px;
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;
            width: 100%;
            color: #565656;">

        <table class="table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile Number</th>
                <th>Unique Key</th>
                <th>Email</th>
                <th>Location</th>
                <th>Disconnection date</th>
                <th>Package</th>
                <th>Package price</th>
            </tr>
            </thead>
            <tbody>
            {% for subscriber in subscribers %}
                <tr>
                    <td>{{ forloop.counter }} &nbsp;
                        <a href="{% url 'subscriber-detail' subscriber.id %}"> <i class="fa fa-eye"></i> </a>

                    </td>
                    <td>{{ subscriber.first_name }}</td>
                    <td>{{ subscriber.last_name }}</td>
                    <td>{{ subscriber.mobile_number }}</td>
                    <td>{{ subscriber.subscriber_unique_key }}</td>
                    <td>{{ subscriber.email }}</td>
                    <td>{{ subscriber.location }}</td>
                    <td>{{ subscriber.connection_end_date|date }}</td>
                    <td>{{ subscriber.internet_package.name }}</td>
                    <td>{{ subscriber.internet_package.price }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr style="border:1px solid #a8afa8;">
    <div class="email-description" style="
            line-height: 1.5em;
            font-weight: 300;
             margin:auto;
            width: 100%;
            color: #565656;">
        <p style="margin: 0;">Lastmile Networks</p>

        <p style="margin: 0;"> P.O Box 15631-00100 Nairobi</p>


        <p style="margin: 0;"><a href="https://lastmile-networks.net">www.lastmile-networks.net</a></p>
    </div>
</div>

</body>
</html>

