<!--
@Author: Wilson Ndirangu <InternSix>
@Date:   2016-06-14T11:55:48+03:00
@Email:  wndirangu@cytonn.com
@Last modified by:   InternSix
@Last modified time: 2016-06-14T16:55:52+03:00
-->



<!DOCTYPE html>
<html>
    <head>
        <title>Be right back.</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

        <style>
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                color: #FFD74D;
                display: table;
                font-weight: 100;
                background-color: #0A0036;
                font-family: 'Lato';
            }

            .container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
            }

            .title {
                font-size: 72px;
                margin-bottom: 40px;
            }
            .content{
              font-size: 26px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">Hmmm, Something is wrong here</div>
                <p class="content">we cant seem to find the page you are looking for, checkout out our <a href="{% url 'dashboard' %}">home</a> page.</p>
            </div>
            </div>
        </div>
    </body>
</html>
