{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row">
        <div class="container">

            <div class="medium-6 medium-centered large-4 large-centered columns ">
                <div class="mdl-layout mdl-js-layout ">
                    <main class="mdl-layout__content mdl-layout__content-login">
                        <div class="mdl-card mdl-shadow--6dp">
                            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                                <h2 class="mdl-card__title-text">Lastmile Networks.</h2>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    {{ form.old_password }}

                                    <label class="mdl-textfield__label" for="old_password">Old Password</label>
                                    <span class="mdl-color-text--red">{{ form.old_password.errors }}</span>

                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    {{ form.new_password1 }}

                                    <label class="mdl-textfield__label " for="username">New Password</label>
                                    <span class="mdl-color-text--red">{{ form.new_password1.errors }}</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    {{ form.new_password2 }}

                                    <label class="mdl-textfield__label" for="username">Confirm Password</label>
                                   <span class="mdl-color-text--red"> {{ form.new_password2.errors }}</span>
                                </div>

                                <div class="mdl-card__actions mdl-card--border">
                                    <button type="submit"
                                            class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
                                        Change my password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}