{% extends "layouts/base.html" %}

{% block content %}

    <div class="row">
        <div class="container">

            <div class="medium-6 medium-centered large-4 large-centered columns ">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}


                <div class="mdl-layout mdl-js-layout ">
                    <main class="mdl-layout__content mdl-layout__content-login">
                        <div class="mdl-card mdl-shadow--6dp">
                            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                                <h2 class="mdl-card__title-text">Lastmile Networks.</h2>
                            </div>

                                <form action="/account/login" method="post">


                                {% csrf_token %}

                                    <input type="hidden" name="next_page" id="next_page" value="{{ request.GET.next }}">
                                <div class="mdl-card__supporting-text">

                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" placeholder="Email"
                                               name="username" id="username" required/>
                                        <label class="mdl-textfield__label" for="username">Email</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="password" name="password"
                                               id="userpass" placeholder="Password" required/>
                                        <label class="mdl-textfield__label" for="userpass">Password</label>
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <button type="submit"
                                            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        Log in
                                    </button>
                                    <a href="{% url "password_reset_recover" %}"> Reset Password</a>
                                </div>
                            </form>
                        </div>
                    </main>
                </div>
            </div>

        </div>
    </div>


{% endblock %}