<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Lastmile Dashboard</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="static/images/android-desktop.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="static/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="static/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    {% load pipeline %}
    {% load static %}
    {% stylesheet 'dashboard' %}
    {% stylesheet 'components' %}
    {% stylesheet 'stats' %}
    {% javascript 'components' %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({

        selector: 'textarea',
        height: 100,
        theme: 'modern',

        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ]


    });</script>
    <style>
        #view-source {
            position: relative;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>
<body ng-app="app">
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Lastmile Networks</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="fa fa-search"></i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="fa fa-shield fa-flip-vertical"></i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item"><a href="{% url 'logout' %}">Logout</a></li>
                <li class="mdl-menu__item"><a href="{% url 'employee-detail' request.user.email %}"> My details</a></li>
            </ul>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <img src="{% static 'images/logo.png' %}" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span>{{ user }}</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="fa fa-caret-down" role="presentation"></i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <li class="mdl-menu__item"><a href="{% url 'logout' %}">Logout</a></li>
                    <li class="mdl-menu__item"><a href="{% url 'employee-detail' request.user.email %}"> My details</a>
                    </li>
                </ul>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a href="{% url 'dashboard' %}"
               class="mdl-navigation__link link-color {% if  request.resolver_match.url_name == "dashboard" %}active-link{% endif %}"><i
                    class="fa fa-home fa-2x" role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>

            <ul class="vertical menu" data-accordion-menu>
                <li class="nested nested-menu">
                    <a class="mdl-navigation__link link-color {% if "subscriber" in request.resolver_match.url_name %}active-link{% endif %} "><i
                            class="fa fa-users fa-2x"
                            role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subscribers
                    </a>

                    <ul class="menu vertical demo-list-item mdl-list" data-submenu="">
                        <li class="{% if request.resolver_match.url_name == "subscribers" %}active-link{% endif %} "><a
                                class="mdl-navigation__link mdl-color-text--green-A400" href="{% url "subscribers" %}">View
                            subscribers</a></li>
                        <li class="{% if request.resolver_match.url_name == "subscriber-add" %}active-link{% endif %}">
                            <a class="mdl-navigation__link  mdl-color-text--green-A400"
                               href="{% url "subscriber-add" %}">Add a subscriber</a></li>
                        <li class="{% if "internet-requests" in request.resolver_match.url_name %}active-link{% endif %}">
                            <a class="mdl-navigation__link  mdl-color-text--green-A400"
                               href="{% url "internet-requests" %}">view Requests</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="vertical menu" data-accordion-menu>
                <li class="nested nested-menu">
                    <a class="mdl-navigation__link link-color {% if "package" in request.resolver_match.url_name %}active-link{% endif %} "><i
                            class="fa fa-internet-explorer fa-2x"
                            role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internet
                    </a>
                    <ul class="menu vertical demo-list-item mdl-list" data-submenu="">
                        <li class="{% if request.resolver_match.url_name == "internet-package-types" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "internet-package-types" %}">Internet packages</a></li>
                        <li class="{% if request.resolver_match.url_name == "packages-details" %}active-link{% endif %}">
                            <a class="mdl-navigation__link  mdl-color-text--green-A400"
                               href="{% url "packages-details" %}">Internet packages details </a></li>
                        <li class="{% if request.resolver_match.url_name == "internet-package-add" %}active-link{% endif %}">
                            <a class="mdl-navigation__link  mdl-color-text--green-A400"
                               href="{% url "internet-package-add" %}">Add package type </a></li>
                        <li class="{% if request.resolver_match.url_name == "packages-details-add" %}active-link{% endif %}">
                            <a class="mdl-navigation__link  mdl-color-text--green-A400"
                               href="{% url "packages-details-add" %}">Add a package </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="vertical menu" data-accordion-menu>
                <li class="nested nested-menu">
                    <a class="mdl-navigation__link link-color {% if "location" in request.resolver_match.url_name %}active-link{% endif %} "><i
                            class="fa fa-map-marker fa-2x"
                            role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location
                    </a>
                    <ul class="menu vertical demo-list-item mdl-list" data-submenu="">
                        <li class="{% if request.resolver_match.url_name == "locations" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "locations" %}">Locations</a></li>
                        <li class="{% if request.resolver_match.url_name == "location-add" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "location-add" %}">Add location</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="vertical menu" data-accordion-menu>
                <li class="nested nested-menu">
                    <a class="mdl-navigation__link link-color {% if "ticket" in request.resolver_match.url_name %}active-link{% endif %} "><i
                            class="fa fa-ticket fa-2x"
                            role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tickets
                    </a>
                    <ul class="menu vertical demo-list-item mdl-list" data-submenu="">
                        <li class="{% if request.resolver_match.url_name == "tickets" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "tickets" %}">Tickets</a></li>
                        <li class="{% if request.resolver_match.url_name == "ticket-add" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "ticket-add" %}">Add ticket</a></li>
                        <li class="{% if request.resolver_match.url_name == "completed-tickets" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "completed-tickets" %}">Completed tickets</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="vertical menu" data-accordion-menu>
                <li class="nested nested-menu">
                    <a class="mdl-navigation__link link-color {% if "payment" in request.resolver_match.url_name %}active-link{% endif %} "><i
                            class="fa fa-money fa-2x"
                            role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Payments
                    </a>
                    <ul class="menu vertical demo-list-item mdl-list" data-submenu="">
                        <li class="{% if request.resolver_match.url_name == "payment" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "payments" %}"> Subscriber Payments</a></li>
                     <li class="{% if request.resolver_match.url_name == "other-payments" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "other-payments" %}">Other  payments</a></li>
                     <li class="{% if request.resolver_match.url_name == "expenses" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "expenses" %}">Expenditure</a></li>
                        <li class="{% if request.resolver_match.url_name == "payment-add" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "payment-add" %}">Add Subscriber Payment</a></li>
                     <li class="{% if request.resolver_match.url_name == "other-payment-add" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "other-payment-add" %}">Add other payments</a></li>
                    <li class="{% if request.resolver_match.url_name == "expenses-add" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "expenses-add" %}">Add  an expense/cost</a></li>

                    </ul>
                </li>
            </ul>
            <a href="{% url 'blogs' %}"
               class="mdl-navigation__link link-color {% if  request.resolver_match.url_name == "blogs" %}active-link{% endif %}"><i
                    class="fa fa-file-text-o fa-2x" role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Latest
                news</a>
            <a href="{% url 'blogs' %}"
               class="mdl-navigation__link link-color {% if  request.resolver_match.url_name == "blogs" %}active-link{% endif %}"><i
                    class="fa fa-newspaper-o fa-2x" role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Latest
                news</a>
        <a href="{% url 'financial-stmt' %}"
               class="mdl-navigation__link link-color {% if  request.resolver_match.url_name == "finance-stmt" %}active-link{% endif %}"><i
                    class="fa fa-table fa-2x" role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finances </a>



            <ul class="vertical menu" data-accordion-menu>
                <li class="nested nested-menu">
                    <a class="mdl-navigation__link link-color {% if "email" in request.resolver_match.url_name %}active-link{% endif %} "><i
                            class="fa fa-envelope-o fa-2x"
                            role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Emails
                    </a>
                    <ul class="menu vertical demo-list-item mdl-list" data-submenu="">
                        <li class="{% if request.resolver_match.url_name == "internet-package-types" %}active-link{% endif %} ">
                            <a
                                    class="mdl-navigation__link mdl-color-text--green-A400"
                                    href="{% url "emails" %}">Send Emails</a></li>
                        <li class="{% if request.resolver_match.url_name == "packages-details" %}active-link{% endif %}">
                            <a class="mdl-navigation__link  mdl-color-text--green-A400"
                               href="{% url "emails-sent" %}">View sent emails </a></li>

                    </ul>
                </li>
            </ul>
            {% if request.user.is_superuser %}
                <ul class="vertical menu" data-accordion-menu>
                    <li class="nested nested-menu">
                        <a class="mdl-navigation__link link-color {% if "employee" in request.resolver_match.url_name %}active-link{% endif %} "><i
                                class="fa fa-houzz fa-2x"
                                role="presentation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employees
                        </a>
                        <ul class="menu vertical demo-list-item mdl-list" data-submenu="">
                            <li class="{% if request.resolver_match.url_name == "employees" %}active-link{% endif %} ">
                                <a
                                        class="mdl-navigation__link mdl-color-text--green-A400"
                                        href="{% url "employees" %}">Employees</a></li>
                            <li class="{% if request.resolver_match.url_name == "employee-add" %}active-link{% endif %}">
                                <a class="mdl-navigation__link  mdl-color-text--green-A400"
                                   href="{% url "employee-add" %}">Add Employee</a></li>
                            <li class="{% if request.resolver_match.url_name == "employee-levels" %}active-link{% endif %}">
                                <a class="mdl-navigation__link  mdl-color-text--green-A400"
                                   href="{% url "employee-levels" %}">Employee Level</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>


        </nav>
    </div>
</div>

<main class="mdl-layout__content mdl-layout--fixed-drawer" ng-controller="DashboardHomeController"
      style="margin-left: 20% !important; padding-top: 5%;">

    <form name="Email" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>From
            <select name="from_email" ng-model="from_email" required>
                <option value="">---Please select---</option>
                <option value="clientservices@lastmile-networks.net" selected>Client Services
                </option>
                <option value="support@lastmile-networks.net">Support</option>
                <option value="sales@lastmile-networks.net">Sales</option>

            </select>
        </label>

        <label>To
            <select name="to" ng-if="from_email != 'sales@lastmile-networks.net'" required>
                <option value="All" selected>All Locations</option>
                {% for location in locations %}
                    <option value="{{ location.location }} ">{{ location.location }}</option>

                {% endfor %}
            </select>
            <input ng-if="from_email=='sales@lastmile-networks.net'" type="email" name="to" ng-model="to" required>
        </label>

        {{ form.as_p }}
        <button type="submit" ng-disabled="Email.$invalid"
                class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
            Send
        </button>
    </form>


</main>

{% javascript 'stats' %}
{% include 'session_security/all.html' %}

</body>
</html>
