{% extends 'layouts/dashboard.html' %}
{% block content %}


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content  ">
            <div class="mdl-grid scrollable" style="overflow: visible">
                <table class="mdl-data-table mdl-js-data-table table-striped ">
                    <thead>
                    <tr>
                        <th >No.</th>
                        <th class="mdl-data-table__cell--non-numeric">First Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Mobile Number</th>
                        <th class="mdl-data-table__cell--non-numeric">Email</th>
                        <th class="mdl-data-table__cell--non-numeric">Last login</th>
                        <th class="mdl-data-table__cell--non-numeric">Employee Level</th>
                        <th class="mdl-data-table__cell--non-numeric">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in object_list %}
                        <tr>
                            <td >{{  forloop.counter0|add:page_obj.start_index }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ employee.first_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ employee.last_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ employee.phone_number }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ employee.email }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ employee.last_login|date }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ employee.employee_level.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'employee-detail' employee.email %}"><i class="fa fa-eye fa-2x"></i></a></td>
                        </tr>
                    {% empty %}
                        <p>No Employee</p>
                    {% endfor %}


                    </tbody>
                </table>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ 1 }}">First </a></span>
                                <span> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>

        </div>
    </main>


{% endblock %}