{% extends 'layouts/dashboard.html' %}
{% block content %}
    {% load subtract %}
    <main class="mdl-layout__content mdl-color--grey-100" ng-controller="FinancialStatementController">
        <div class="mdl-grid demo-content">

            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">

                <div class="mdl-cell--12-col mdl-grid">
                    <h5>Consolidated income with respect to time in current financial year</h5>
                </div>
                <div class="mdl-cell--12-col mdl-grid">
                    <canvas id="LineWithLine" width="900" height="400"></canvas>
                </div>
                <h5 class="mdl-cell--6-col mdl-grid">Subscriber payments</h5>
                <h5 class="mdl-cell--6-col mdl-grid">Other payments</h5>
                <div class="mdl-cell--12-col mdl-grid">
                    <div class="mdl-cell--6-col ">
                        <table class="table-striped">
                            <thead>
                            <th>Month</th>
                            <th>Recorded payments</th>
                            <th>Amount</th>
                            </thead>
                            <tbody>

                            {% for payment in subscriber_payments %}
                                <tr>
                                    <td>{{ payment.month|month_year }} </td>
                                    <td>{{ payment.pk__count }}</td>
                                    <td>{{ payment.amount__sum|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="mdl-cell--6-col">
                        <table class="table-striped">
                            <thead>
                            <th>Month</th>
                            <th>Recorded payments</th>
                            <th>Amount</th>
                            </thead>
                            <tbody>

                            {% for payment in other_payments %}
                                <tr>
                                    <td>{{ payment.month|month_year }} </td>
                                    <td>{{ payment.pk__count }}</td>
                                    <td>{{ payment.amount__sum|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mdl-cell--12-col mdl-grid">
                    <div class="mdl-cell--6-col ">
                        <h5>Costs incurred on monthly basis</h5>
                        <table class="table-striped">
                            <thead>
                            <th>Month</th>
                            <th>Recorded expenses</th>
                            <th>Amount</th>
                            </thead>
                            <tbody>
                            {% for cost in expenses %}
                                <tr>
                                    <td>{{ cost.month|month_year }} </td>
                                    <td>{{ cost.pk__count }}</td>
                                    <td>{{ cost.amount__sum|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% if income_statements %}
                        <div class="mdl-cell--6-col ">
                            <h5>Financial statements</h5>
                            <table class="table-striped">
                                <thead>
                                <th>Month</th>
                                <th>Statement</th>
                                </thead>
                                <tbody>
                                {% for statement in income_statements %}
                                    <tr>
                                        <td>{{ statement.period }}</td>
                                        <td>
                                            <a target="_blank"
                                               href="{% url "income-statement" statement.filename %}"> {{ statement.period }}
                                                statement pdf</a></td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        </div>
                    {% endif %}
            </div>
        </div>
    </main>
{% endblock %}