{% extends 'layouts/dashboard.html' %}
{% block content %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--8-col mdl-grid ">

                <ul class="demo-list-icon mdl-list">
                     <h3>{{ object.name }} Details</h3>
                    <li class="mdl-list__item">
                             <span class="mdl-list__item-primary-content">
                                     <i class="fa fa-font-awesome fa-2x "></i>
                                         &nbsp;&nbsp;&nbsp;&nbsp; {{ object.name }}
                             </span>
                    </li>
                    <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i class="fa fa-th-list fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ object.internet_package_type.name }}
                            </span>
                    </li>
                    <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="fa fa-money fa-2x" aria-hidden="true"></i>

                                &nbsp;&nbsp;&nbsp;&nbsp;{{ object.price }} ksh
                              </span>
                    </li>
                     <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ object.details }}
                              </span>
                    </li>
                    <li class="mdl-list__item">
                               <a  href="{% url "packages-details-update" object.id %}"
                                            class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
                                        Update package details
                                    </a>
                    </li>

                </ul>

            </div>


            <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                        <h2 class="mdl-card__title-text">Updated at <br>{{ object.updated_at|date }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        <p class="read-more-wrap">{{ object.details|truncatewords:50 }}</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
                    </div>
                </div>
                <div class="demo-separator mdl-cell--1-col"></div>
                <div class="demo-options mdl-card mdl-color--orange-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">

                        <h1 class="mdl-card__title-text">Price </h1>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#"
                           class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">{{ object.price }} kshs</a>
                        <div class="mdl-layout-spacer"></div>
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}