{% extends 'layouts/dashboard.html' %}
{% block content %}


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content  ">
            <div class="mdl-grid scrollable" style="overflow: visible">
                <table class="mdl-data-table mdl-js-data-table table-striped ">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th class="mdl-data-table__cell--non-numeric"> Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Package Type</th>
                        <th class="mdl-data-table__cell--non-numeric">Price</th>
                        <th class="mdl-data-table__cell--non-numeric">Action</th>
                        <th class="mdl-data-table__cell--non-numeric">Details</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for package_detail in object_list %}
                        <tr>
                            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ package_detail.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ package_detail.internet_package_type.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ package_detail.price }}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a
                                    href=" {% url 'packages-details-details' package_detail.id %}"><i class="fa fa-eye"
                                                                                                      aria-hidden="true"></i>
                            </a> &nbsp;
                                <a href=" {% url 'packages-details-update' package_detail.id %}"><i class="fa fa-pencil"
                                                                                                    aria-hidden="true"></i>
                                </a>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{ package_detail.details }}</td>
                        </tr>
                    {% empty %}
                        <p>No Employee</p>
                    {% endfor %}


                    </tbody>
                </table>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ 1 }}">First </a></span>
                                <span> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>

        </div>
    </main>


{% endblock %}