{% extends 'layouts/dashboard.html' %}
{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">
                <form action="" method="post">{% csrf_token %}
                    <h3>Add a package type</h3>
                    {{ form.as_p }}
                    <button type="submit"
                            class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}