{% extends 'layouts/dashboard.html' %}
{% block content %}


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content  ">
            <div class="mdl-grid scrollable" style="overflow: visible">
                <table class="mdl-data-table mdl-js-data-table table-striped ">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th class="mdl-data-table__cell--non-numeric">Paid by</th>
                        <th class="mdl-data-table__cell--non-numeric">Amount (Kshs)</th>
                        <th class="mdl-data-table__cell--non-numeric">Payment recorded on</th>
                        <th class="mdl-data-table__cell--non-numeric">Payment recorded by</th>
                        <th class="mdl-data-table__cell--non-numeric">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in object_list %}
                        <tr>
                            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ payment.payee_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ payment.amount }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ payment.created_at }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ payment.recorded_by.first_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                &nbsp;
                                <a
                                        href="{% url 'other-payment-details' payment.id %}"><i class="fa fa-eye"
                                                                                         aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <p>No Payments</p>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ 1 }}">First </a></span>
                                <span> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>

        </div>
    </main>


{% endblock %}