{% extends 'layouts/dashboard.html' %}
{% block content %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--8-col mdl-grid ">
                <ul class="demo-list-icon mdl-list">
                    <li class="mdl-list__item">
                             <span class="mdl-list__item-primary-content">
                                     <i class="fa fa-user fa-2x "></i>
                                         &nbsp;&nbsp;&nbsp;&nbsp;{{ object.subscriber.first_name }} {{ object.subscriber.last_name }}
                             </span>
                    </li>
                    <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i class="fa fa-phone fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ object.subscriber.mobile_number }}
                            </span>
                    </li>
                    <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="fa fa-list fa-2x"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ object.subscriber.subscriber_unique_key }}
                              </span>
                    </li>
                    <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class=" fa fa-money fa-2x"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ object.amount |floatformat:2 }} Kshs
                              </span>
                    </li>
                    <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="fa fa-calendar  fa-2x"> </i>&nbsp; payment made on
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ object.payment_date |date }}
                              </span>
                    </li>
                 <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="fa fa-file-pdf-o  fa-2x"> </i>&nbsp;
                              <a href="/dashboard/receipts/{{ object.receipt_no  }}">receipt</a>
                              </span>
                    </li>
                {% if object.email_receipt %}
                 <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="fa fa-file-pdf-o  fa-2x">  </i>&nbsp; The receipt was emailed

                              </span>
                    </li>
                {% endif %}
                    <li class="mdl-list__item">
                        {% if request.user.is_superuser %}
                            <a class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised"
                               href="{% url 'payment-update' object.id %}">
                                Edit Payment Details
                            </a>
                        {% endif %}
                    </li>
                    </li>
                </ul>

            </div>


            <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                        <h2 class="mdl-card__title-text">Payment recorded on <br>{{ object.created_at|date }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        <p class="read-more-wrap"> payment recorded by {{ object.recorded_by.first_name|truncatewords:20 }}</p>
                    </div>

                </div>
                <div class="demo-separator mdl-cell--1-col"></div>
                <div class="demo-options mdl-card mdl-color--orange-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">

                        <h1 class="mdl-card__title-text">Updated on</h1>
                        <h2 class="mdl-card__title-text"> {{ object.updated_at|date }}</h2>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#"
                           class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">By {{ object.updated_by.first_name }}
                        </a>
                        <div class="mdl-layout-spacer"></div>
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}