{% extends 'layouts/dashboard.html' %}
{% block content %}


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content  ">
            <div class="mdl-grid scrollable" style="overflow: visible">
                <table class="mdl-data-table mdl-js-data-table table-striped ">
                    <thead>
                    <tr>
                        <th >No.</th>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Location</th>
                        <th class="mdl-data-table__cell--non-numeric">Email</th>
                        <th class="mdl-data-table__cell--non-numeric">Phone Number</th>
                        <th class="mdl-data-table__cell--non-numeric">Requested on</th>
                    </tr>
                    </thead>
                    <tbody ng-controller="RequestsController">

                        <tr ng-repeat="request in requests">
                            <td ><%$index+1%></td>
                            <td class="mdl-data-table__cell--non-numeric"><%request.name%></td>
                            <td class="mdl-data-table__cell--non-numeric"><%request.location%></td>
                            <td class="mdl-data-table__cell--non-numeric"><%request.email%></td>
                            <td class="mdl-data-table__cell--non-numeric"><%request.phone_number%></td>
                            <td class="mdl-data-table__cell--non-numeric"><%request.created_at%></td>
                        </tr>



                    </tbody>
                </table>

            </div>

        </div>
    </main>


{% endblock %}