{% extends 'layouts/dashboard.html' %}
{% block content %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--8-col mdl-grid ">
                <ul class="demo-list-icon mdl-list">
                    <li class="mdl-list__item">
                             <span class="mdl-list__item-primary-content">
                                Sent by:  {{ object.sent_by.first_name }}
                                 </span>

                    </li>
                    <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                Sent from: {{ object.from_email }}
                              </span>
                    </li>
                    <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                              Sent to subscribers in  {{ object.to }} location
                            </span>
                    </li>
                    <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                Body:
                              </span>

                        <span class="mdl-list__item-primary-content">
                                {{ object.body|safe }}
                              </span>
                    </li>
                    {% if object.attachment %}
                    <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                             the document {{ object.attachment }} was attached to this email.
                            </span>
                    </li>
                    {% endif %}


                </ul>
            </div>


            <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                        <h2 class="mdl-card__title-text">Sent on <br>{{ object.created_at|date }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        <p class="read-more-wrap">{{ object.created_by.first_name }}</p>
                    </div>

                </div>

            </div>
        </div>
    </main>

{% endblock %}