{% extends 'layouts/dashboard.html' %}
{% block content %}


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content ">
            <div class="mdl-grid scrollable mdl-cell mdl-cell--9-col mdl-grid ">
                <table class="mdl-data-table mdl-js-data-table table-striped mdl-shadow--2dp ">
                    <thead>
                    <tr>
                        <th>No.  Action</th>
                        <th class="mdl-data-table__cell--non-numeric">First Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Mobile Number</th>
                        <th class="mdl-data-table__cell--non-numeric">Unique Key</th>
                        <th class="mdl-data-table__cell--non-numeric">Email</th>
                        <th class="mdl-data-table__cell--non-numeric">Location</th>
                        <th class="mdl-data-table__cell--non-numeric">Disconnection date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subscriber in object_list %}
                        <tr>
                            <td>{{ forloop.counter0|add:page_obj.start_index }} &nbsp;
                                <a href="{% url 'subscriber-detail' subscriber.id %}"> <i class="fa fa-eye"></i> </a>
                            
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscriber.first_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscriber.last_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscriber.mobile_number }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscriber.subscriber_unique_key }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscriber.email }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscriber.location }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscriber.connection_end_date|date }}</td>
                        </tr>
                    {% empty %}
                        <p>No subscriber</p>
                    {% endfor %}


                    </tbody>
                </table>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ 1 }}">First </a></span>
                                <span> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="demo-options mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">

                        <h3 class="mdl-card__title-text mdl-color-text--black">Search Subscribers</h3>
                    </div>
                    <div class="mdl-card__actions mdl-card--border mdl-grid">
                        <form action="" method="get">
                            <div class="mdl-textfield mdl-cell--12-col mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="sub">
                                    <i class="fa fa-search fa-sm"></i>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="sub" name="q"
                                           value="{{ request.GET.q }}">

                                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                                </div>

                            </div>
                        </form>
                        <div class="mdl-grid">
                            {% if request.GET.q %}
                                <p>Showing results for {{ request.GET.q }}</p>
                                <a href="{% url 'subscribers' %}"> clear search</a>
                            {% endif %}

                        </div>
                        <div class="mdl-layout-spacer"></div>


                    </div>
                </div>
                <div class="demo-separator mdl-cell--1-col"></div>
                <div class="demo-options hidden mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">

                        <h1 class="mdl-card__title-text mdl-color-text--black">Filter</h1>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#"
                           class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">{{ object.last_login|timesince }}
                            ago</a>
                        <div class="mdl-layout-spacer"></div>
                        <i class="fa fa-user"></i>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </main>


{% endblock %}