{% extends 'layouts/dashboard.html' %}
{% block content %}


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content  ">
            <div class="mdl-grid scrollable" style="overflow: visible">
                <table class="mdl-data-table mdl-js-data-table table-striped ">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Status</th>
                        <th class="mdl-data-table__cell--non-numeric">Priority</th>
                        <th class="mdl-data-table__cell--non-numeric">Due date</th>
                        <th class="mdl-data-table__cell--non-numeric">Assigned to</th>
                        <th class="mdl-data-table__cell--non-numeric">created by</th>
                        <th class="mdl-data-table__cell--non-numeric">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in object_list %}
                        <tr>
                            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ ticket.details|truncatewords:10 }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ ticket.status }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ ticket.priority.priority }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ ticket.due_date|date }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ ticket.employee.first_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ ticket.created_by.first_name }}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a
                                    href="{% url 'ticket-details' ticket.id %}"><i class="fa fa-eye"
                                                                                   aria-hidden="true"></i>
                            </a></td>
                        </tr>
                    {% empty %}
                        <p>No tickets</p>
                    {% endfor %}

                    </tbody>
                </table>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ 1 }}">First </a></span>
                                <span> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>

        </div>
    </main>


{% endblock %}