{% extends 'layouts/dashboard.html' %}
{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100" ng-controller="DashboardHomeController">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">
                <form action="" method="post" name="tickets">{% csrf_token %}
                    {{ form.as_p }}
                    <label ng-if="status==2" for="completed_comment"> Comments for the completed task
                        <textarea ng-if="status==2" ng-model="completed_comment" name="completed_comment" id="completed_comment" cols="15" rows="10" required></textarea>
                    </label>
                    <button ng-disabled="tickets.$invalid" type="submit"
                            class="mdl-button mdl-button--colored   mdl-js-button mdl-button--raised">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}