{% extends 'layouts/dashboard.html' %}
{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100" ng-controller="BlogContoller">
        <div class="mdl-grid demo-content  ">
            <div class="mdl-grid scrollable" style="overflow: visible">
                <div class="row blog-header">
                    <div class="medium-12 large-12 small-12 columns blog-title">
                        <h3> Tech and business news from around the world</h3>


                        <div id="search_news" class="medium-12 large-12 columns">
{#                            <form action="" method="get">#}
{##}
                                {#                                        <input class="mdl-textfield__input" type="text" id="sub" name="q"#}
                                {#                                               value="{{ request.GET.q }}">#}
{##}
{#                                {% if request.GET.q and object_list.count < 1 %}#}
{#                                    <p>No results click#}
{#                                        <a href="{% url 'blogs' %}"> &nbsp;&nbsp; HERE </a> to Clear Search#}
{#                                    </p>#}
{##}
{#                                {% endif %}#}
{#                                <div class="row collapse">#}
{##}
{#                                    <div class="small-12 columns">#}
{##}
{#                                        <input type="text" class="dream-search" placeholder="Search articles" name="q"#}
{#                                               value="{{ request.GET.q }}">#}
{##}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{#                            </form>#}

                        </div>
                    </div>

                </div>
                <div class="mdl-grid">
                    {% if request.GET.q %}
                        <p>Showing results for {{ request.GET.q }} click
                            <a href="{% url 'blogs' %}"> &nbsp;&nbsp; clear search</a>
                        </p>

                    {% endif %}


                </div>


                {% for blog in object_list %}
                    <div class="row ">

                        <div class="medium-2 columns blog-info ">
                            <p>
                            <h6> Added {{ blog.created_at |timesince }} ago</h6>
                            <p class="blog-categories"> Categories: {{ blog.categories |capfirst }}</p>


                            </p>


                        </div>
                        <div class="medium-10 columns mdl_components-dd ">
                            <a href="{{ blog.link }} " target="_blank"
                               ng-click="readBlog('{{ request.user.id }}' ,'{{ blog.id }}')"><h5>{{ blog.title }} <i
                                    class="fa fa-external-link" aria-hidden="true"></i></h5>


                            </a>
                            <p>

                                {{ blog.body }}
                                <a href="{{ blog.link }}" target="_blank"
                                   ng-click="readBlog('{{ request.user.id }}' ,'{{ blog.id }}')">Read more</a>
                            </p>
                            <hr>


                        </div>

                    </div>


                {% endfor %}

                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ 1 }}">First </a></span>
                                <span> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>
        </div>
    </main>


{% endblock %}